body {
  /* background-color: red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  gap: 50px;
}

.users {
  border: 1px solid red;
  padding: 20px;
}
.calendar {
  border: 1px solid blue;
  padding: 20px;
}

.inactive {
  color: grey;
}

.users p {
  color: green;
  font-weight: bold;
}

.users-inner {
  display: flex;
  gap: 10px;
}

.avatar {
  height: 16px;
  width: 16px;
  border: 2px solid purple;
  border-radius: 50%;
}

button {
  border: none;
  padding: 2px 6px;
  border-radius: 11px;
}
